<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="iconka.ico">
    <!-- Подключаем глобальный файл стилей -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Багеры</title>
</head>
<body>
    <!-- Шапка сайта -->
    <header>
        <h1>Багеры</h1>
    </header>

    <!-- Основная область: боковое меню слева и контент справа -->
    <div class="container">
        <!-- Боковое меню -->
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}">Главная</a></li>
                    <li><a href="{{ url_for('run_page') }}">Запуск</a></li>
                    <li><a href="{{ url_for('tests_page') }}">Продвиннутый Запуск</a></li>
                    <li><a href="{{ url_for('logs') }}">Логи</a></li>
                    <li><a href="{{ url_for('config_page') }}">Конфиг</a></li>
                    <li><a href="{{ url_for('extra.ser') }}">Прошивки TOP</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Основной контент -->
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>

    <!-- Подключаем скрипт для интерактивности -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>