{% extends 'base.html' %}

{% block content %}
  <h2>Конфигурация</h2>
  <div class="config-container">
    <div class="edit-form">
      <div id="doorphones"></div>
      <div class="btn-group">
        <button type="button" id="addVarBtn">Добавить переменную</button>
        <button type="button" id="addDoorphoneBtn">Добавить домофон</button>
      </div>
      <form method="post" id="configForm">
        <input type="hidden" name="config" id="configInput">
        <button type="submit">Сохранить</button>
      </form>
    </div>
    <div class="example-block">
      <h2>Пример как должен выглядить Конфиг</h2>
      <textarea readonly rows="15" style="width:100%;height: 320px;">
IP_CAMERA=192.168.0.245:85  # Здесь записывается IP-камеры с портом
LOGIN=admin                 # Логин от домофона (по стандарту admin)
PASSWORD=123456             # Пароль можно узнать на сайте https://192.168.0.8
MAX_SCREENSHOTS=500         # Количество скриншотов для теста (по умолчанию 1000)
MAX_FIRMWARE_UPLOADS=4      # Количество циклов загрузки прошивки
      </textarea>
    </div>
  </div>

  <script id="config-data" type="application/json">{{ config|tojson }}</script>
{% endblock %}

