{% extends 'base.html' %}

{% block content %}
  <!-- Заголовок главной страницы -->
  <h2>Главная</h2>
  <p>Добро пожаловать на главную страницу. Здесь Вы найдете ссылки на нужную информацию</p>
  <br><br>
  <a href="https://docs.google.com/document/d/1dsXd_fUCHRRDeZSAEMui3aVtXkCBJ1G1CpFWH5DYeW8/edit?hl=ru&tab=t.0">Инструкции по расширению данного Автотеста</a>
  <br>
  <br>
  <a href="https://docs.google.com/spreadsheets/d/101fhal4uL31Bb3b21TN1Iihu6fKnDL4fJzE1OEH01gw/edit?gid=1030597080#gid=1030597080"> Чек-лист</a>
  <br>
  <br>
  <a href="https://github.com/gree03/WebAutoTest/tree/main">Git</a>
{% endblock %}